<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="WIN_AUT" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=VetNova;Integrated Security=true;" />
		<add name ="SQL_AUT" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=VetNova;Persist Security Info=true;User ID=sa;Password=" />
	</connectionStrings>
	<appSettings>

		<add key="SP_LOGIN_Usuarios" value="dbo.SP_INICIAR_SESION" />
		<add key="SP_CERRAR_Sesion" value="SP_CERRAR_SESION" />
		
		<add key="SP_INFO_Usuarios" value="dbo.SP_INFO_USUARIOS" />
		<add key="SP_LISTAR_Usuarios" value="SP_LISTAR_USUARIOS" />
		<add key="SP_ACTUALIZA_Usuarios" value="SP_ACTUALIZA_USUARIOS" />
		<add key="SP_INSERTA_Usuarios" value="SP_INSERTA_USUARIOS" />
		<add key="SP_ELIMINA_Usuarios" value="SP_ELIMINA_USUARIOS" />
		
		<add key="SP_CONTAR_CITAS" value="dbo.SP_CONTAR_CITAS" />
		<add key="SP_LISTAR_CitasHoy" value="SP_LISTAR_CITAS_HOY" />
		<add key="SP_LISTAR_Citas" value="SP_LISTAR_CITAS" />
		<add key="SP_INSERTA_Citas" value="SP_INSERTA_CITAS" />
		<add key="SP_ACTUALIZA_Citas" value="SP_ACTUALIZA_CITAS" />
		<add key="SP_ELIMINA_Citas" value="SP_ELIMINA_CITAS" />

		<add key="SP_CONTAR_Mascotas" value="SP_CONTAR_MASCOTAS" />
		<add key="SP_LISTAR_Mascotas" value="SP_LISTAR_MASCOTAS" />

		<add key="SP_CONTAR_Propietarios" value="SP_CONTAR_PROPIETARIOS" />
		<add key="SP_LISTAR_Propietarios" value="SP_LISTAR_PROPIETARIOS" />
		<add key="SP_INSERTA_Propietarios" value="SP_INSERTA_PROPIETARIOS" />
		<add key="SP_ACTUALIZA_Propietarios" value="SP_ACTUALIZA_PROPIETARIOS" />
		<add key="SP_ELIMINA_Propietarios" value="SP_ELIMINA_PROPIETARIOS" />

		<add key="SP_CONTAR_Veterinarios" value="SP_CONTAR_VETERINARIOS" />
		<add key="SP_LISTAR_Veterinarios" value="SP_LISTAR_VETERINARIOS" />
		<add key="SP_INSERTA_Veterinarios" value="SP_INSERTA_VETERINARIOS" />
		<add key="SP_ACTUALIZA_Veterinarios" value="SP_ACTUALIZA_VETERINARIOS" />
		<add key="SP_ELIMINA_Veterinarios" value="SP_ELIMINA_VETERINARIOS" />
		
		<add key="SP_LISTAR_Roles" value="SP_LISTAR_ROLES" />

		<add key="SP_LISTAR_Especialidades" value="SP_LISTAR_ESPECIALIDADES" />
		
		<add key="SP_LISTAR_Auditoria" value="SP_LISTAR_AUDITORIA" />

		<add key="SP_LISTAR_Consultas" value="SP_LISTAR_CONSULTAS" />
		<add key="SP_INSERTA_Consultas" value="SP_INSERTA_CONSULTAS" />

		<add key="SP_LISTAR_Especies" value="SP_LISTAR_ESPECIES" />
		<add key="SP_ELIMINA_Especies" value="SP_ELIMINA_ESPECIES" />
		<add key="SP_INSERTA_Especies" value="SP_INSERTA_ESPECIES" />
		<add key="SP_ACTUALIZA_Especies" value="SP_ACTUALIZA_ESPECIES" />

		<add key="SP_LISTAR_Razas" value="SP_LISTAR_RAZAS" />
		<add key="SP_INSERTA_Razas" value="SP_INSERTA_RAZAS" />
		<add key="SP_ACTUALIZA_Razas" value="SP_ACTUALIZA_RAZAS" />
		<add key="SP_ELIMINA_Razas" value="SP_ELIMINA_RAZAS" />

		<add key="SP_LISTAR_Especialidades" value="SP_LISTAR_ESPECIALIDADES" />
		<add key="SP_INSERTA_Especialidades" value="SP_INSERTA_ESPECIALIDADES" />
		<add key="SP_ACTUALIZA_Especialidades" value="SP_ACTUALIZA_ESPECIALIDADES" />
		<add key="SP_ELIMINA_Especialidades" value="SP_ELIMINA_ESPECIALIDADES" />

		<add key="SP_LISTAR_TiposIdentificacion" value="SP_LISTAR_TIPOS_IDENTIFICACION" />
		<add key="SP_INSERTA_TiposIdentificacion" value="SP_INSERTA_TIPOS_IDENTIFICACION" />
		<add key="SP_ACTUALIZA_TiposIdentificacion" value="SP_ACTUALIZA_TIPOS_IDENTIFICACION" />
		<add key="SP_ELIMINA_TiposIdentificacion" value="SP_ELIMINA_TIPOS_IDENTIFICACION" />
	</appSettings>
</configuration>